<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="AttendanceDemo">

<head>
  <!-- SCROLLS -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- SPELLS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="script.js"></script>
</head>

<!-- define angular controller -->
<body >


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Attendance App</a>
      </div>
	
      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-right" role="search" ng-controller="loginFormCtrl">
	<div ng-class="{ 'hidden' : !emailArea}">
	<div class="form-group">
	<input type="text" class="form-control col-sm-1" name="email" placeholder="Email" ng-model="login.Email">
	</div>
	<div class="form-group">
	<input type="text" class="form-control col-sm-1" name="password" placeholder="Password" ng-model="login.Password">
	</div>
	<button type="submit" class="btn btn-default" ng-click="submit(true)" >Sign In </button>
	</div>
	<div class="" ng-class="{ 'hidden' : !loginArea}">
		Welcome: {{login.Email}}
		<button type="submit" class="btn btn-default" ng-click="submit(false)"> Logout </button>
	</div>
	</form>
	</ul>
    </div>
  </nav>

  <div id="main">
  
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>
  
  <footer class="text-center">
   <p> Footer</p>
  </footer>
  
</body>

</html>
